main.WorkoutDiary{
    padding: 5vmin;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
}
div.fitGoal {
    margin: 5vmin;
}

h1.WorkoutTitle {
    margin-left: 10vmin;
}