.GoalWeightList {
    display: flex;
    flex-direction: column;
    background-color: var(--WD-1);
    color: var(--WD-2);
    padding: 5vmin;
    border-radius: 10vmin;
}

li.weightItems {
    list-style-type: none;
    color: white;
}
